annotated-types==0.7.0
asgiref==3.10.0
boto3==1.40.64
botocore==1.40.64
brotli==1.2.0
certifi==2025.10.5
cffi==2.0.0
channels==4.3.1
charset-normalizer==3.4.4
crispy-bootstrap5==2025.6
crontab==1.0.5
cryptography==46.0.3
cssselect2==0.8.0
dj-database-url==3.0.1
Django==5.1.7
django-allauth==65.13.1
django-anymail==13.1
django-ckeditor==6.7.3
django-crispy-forms==2.4
django-crontab==0.7.1
django-environ==0.12.0
django-js-asset==3.1.2
django-rest==0.8.7
django-storages==1.14.6
django-tinymce==5.0.0
djangorestframework==3.16.1
dotenv==0.9.9
et_xmlfile==2.0.0
fonttools==4.61.1
gunicorn==23.0.0
idna==3.11
jmespath==1.0.1
lxml==6.0.2
npm==0.1.1
numpy==2.4.0
openpyxl==3.1.5
optional-django==0.1.0
packaging==25.0
pillow==12.0.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
PyJWT==2.10.1
pyphen==0.17.2
pyproject-toml==0.1.0
python-barcode==0.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-pptx==1.0.2
requests==2.32.5
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
weasyprint==67.0
webencodings==0.5.1
wheel==0.45.1
whitenoise==6.11.0
xlrd==2.0.2
xlsxwriter==3.2.9
zopfli==0.4.0
